{% extends 'layout.html' %}




{% block page_body %}
{{ super() }}
 <!-- second row with profile display-->
 <div class="row">
    <!-- basic profile info column-->
    <div class="col-sm-3 col-lg-3">
        <div class="card">
            <div class="card-header bg-info">
                <img class="img-fluid rounded-circle" src="{{url_for('static',filename= 'profile_pictures/default.jpg') }}"
                    alt="" />
            </div>
            <div class="card-body">
                <h6 class="small">{{ current_user.user_name.title()}}</h6>

            </div>
            <div class="card-footer">

            </div>
        </div>

    </div>

    <div class="col-sm-6 col-lg-6"> </div>

<div class="col-sm-3 col-lg-3"></div>


</div>


</div>
</div>

{% endblock page_body %}