{% extends 'mypage_macro.html' %}
{{ super() }}

{% block content_display %}
<div class="row">
    <div class="col-12">
        <div class="card col-lg-12 col-sm-12">
            <div class="card-body">
                <h6>Personal Info Section</h6>
                <hr>
                <div class="row  text-weight-normal">
                    <div class="col-6">
                        <h6> Name: {{ current_user.user_name}} </h6>
                    </div>
                    <div class="col-6">
                        <h6 class="h6"> Email:{{ current_user.user_email}} </h6>
                    </div>
                </div>
               <div class="row  text-weight-normal">
                    <div class="col-6">
                        {% if user_work_phone == "" %}
                           <h6> Work Phone: -  </h6>
                        {% else %}
                           <h6> Work Number: {{ current_user.user_work_phone}} </h6>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        {% if user_mobile_phone == "" %}
                           <h6> Mobile Phone: -  </h6>
                        {% else %}
                           <h6> Mobile Number: {{ current_user.user_mobile_phone}} </h6>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


{% endblock content_display %}