{% extends 'layout.html' %}




{% block page_body %}
{{ super() }}
 <!-- second row with profile display-->
 <div class="row">
    <!-- basic profile info column-->
    <div class="col-sm-3 col-lg-3">
        <div class="card">
            <div class="card-header bg-light" id="mypage-card-header">
                <img class="img-fluid rounded-circle" src="{{url_for('static',filename= 'profile_pictures/default.jpg') }}"
                    alt="" />
            </div>
            {% if user %}

                <div class="card-body">
                    <h6 class="small">{{ current_user.user_name.title()}}</h6>
                    <h6 class="small">{{ current_user.user_email.title()}}</h6>
                    <h6 class="small">{{ current_user.user_name.title()}}</h6>
                </div>

                <div class="card-footer justify-content-center">
                    <button id="btn-edit-myprofile" type="button" class="btn btn-info justify-content-center">Edit Profile</button>
                </div>
            {% else %}

                <div class="card-footer justify-content-center">
                    <button id="btn-edit-myprofile" type="button" class="btn btn-info justify-content-center">Create Profile</button>
                </div>
            {% endif %}
        </div>

    </div>

    <div class="col-sm-6 col-lg-6"> </div>

<div class="col-sm-3 col-lg-3"></div>


</div>


</div>
</div>

{% endblock page_body %}

{% block add_scripts %}

    <script src="{{url_for('static',filename = 'js/mypage.js')}}"> </script>

{% endblock add_scripts %}