{% extends 'accounts_layout.html' %}

{{ super() }}
{% block section_content %}
{{ super() }}
 <!-- second row with profile display-->

    <!-- basic profile info column-->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-3">
            <div class="card border-0">
                <div class="card-header bg-light" id="mypage-card-header">
                    <img class="img-fluid rounded-circle" src= "{{url_for('static',filename= 'profile_pictures/')}}{{ profile_pic }}"
                    alt="Responsive image" />
                </div>
                
                    <div class="card-footer justify-content-center bg-transparent border-0">
                       <a href="" id ="edit-profile-picture" class="visible"><button id="btn-edit-myprofile" type="button" class="btn btn-info justify-content-center">edit profile picture
                       </button></a>
                       <form action="" class="invisible" id= "frm-edt-pp">
                           {{ formpp.hidden_tag() }}
                           <div class="form-group">
                            {{ formpp.image.label  }}
                            {{ formpp.image }}
                        </div>
                       </form>
                    </div>
            
            </div>
    
        </div>
    
        <div class="col-sm-6 col-lg-6"> 
            <form class="mt-50 w-75 mx-auto" method = "post" action="">
                {{ form.hidden_tag() }} 
                <div class="form-group">
                    {{ form.name.label  }}
                    {{ form.name(placeholder ='Name',readonly=true,class ='w-100 m-auto', value =current_user.user_name)}}
                </div>
                <div class="form-group ">
                    {{ form.email.label }}
                    {{ form.email (placeholder ='Name',readonly=true, class ='w-100 m-auto', value =current_user.user_email)}}
                </div>
                <div class="form-group">
                    {{ form.mobile_phone.label }}
                    {{ form.mobile_phone (placeholder ='Mobile Number',class ='w-100 m-auto')}}
                </div>
                <div class="form-group">
                    {{ form.work_phone.label }}
                    {{ form.work_phone (placeholder ='Work Number',class ='w-100 m-auto')}}
                </div>
                <div class="form-group">
                    {{ form.postcode.label }}
                    {{ form.postcode (placeholder ='Work Number',class ='w-100 m-auto')}}
                </div>
                <div class="form-group">
                    {{ form.country.label }}
                    {{ form.country (placeholder ='Work Number',class ='w-100 m-auto')}}
                </div>    
                <div class="form-group">
                    {{ form.city.label }}
                    {{ form.city (placeholder ='Work Number',class ='w-100 m-auto')}}
                </div>
                <div class="form-group">
                    {{ form.bio.label }}
                    {{ form.bio (placeholder ='Tell the world about your services',class ='w-100 m-auto')}}
                </div>
              
                <div class="form-groups">
                    {{ form.submit }}
                </div>
            </form>
        </div>
    
    <div class="col-sm-3 col-lg-3"></div>
    
    </div>
   


{% endblock section_content %}