{% extends "layout.html" %}
{% block page_body %}
<!-- Insert Registration Form -->
{{ super() }}
<div class="container">
    <div class="row justify-content-center" id ="login_row_1">
        <div class="col-12 col-sm-6 col-md-6">
            <div class="card bg-transparent" id="login_card">
                <div class="card-header">
                    <h3 class="h3 text-center mx-auto">Create an account</h6>
                </div>
                <div class="card-body">
                        <form class="mt-50 w-75 mx-auto" method="POST" action="">
                            {{ form.hidden_tag() }}
                                
                            <div class="form-group ">
                                {{ form.name (placeholder ='User Name',class ='w-100 m-auto')}}
                            </div>
                            <div class="form-group ">
                                {% if form.email.errors %}
                                    {% for error in form.email.errors %}
                                        <h6 class="text-danger">{{ error }}</h6>
                                    {% endfor %}
                                {% endif %}
                                {{ form.email (placeholder ='Email',class ='w-100 m-auto')}}
                            </div>
                            <div class="form-group">
                                {{ form.password(placeholder ='Password',class ='w-100') }}
                            </div>
                           
                            <div class="form-group">
                                <span class="error">
                                    {% if form.confirm_password.errors %}
                                      {% for error in form.confirm_password.errors %}
                                        {{ error }}
                                      {% endfor %}
                                    {% endif %}
                                  </span>
                                {{ form.confirm_password(placeholder ='Confirm Password',class ='w-100') }}
                            </div>
                            <div>
                                {{ form.submit(class ='btn btn-primary') }}
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="container">
                            <h6 class="h6 text-center font-italic">We don't share your data, period.</h6>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" id="login-row-2">
    
        </div>
    </div>
    {% endblock page_body %}